<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <div class = "form-style-10">
    <h1>Editing Doctorlocation</h1>

<%= render 'form' %>

<%= link_to 'Show', @doctorlocation %> |
<%= link_to 'Back', doctorlocations_path %>
</div></div></div></div>