<div class="container">
  <div class="row">
    <div class="col-lg-12">
    <div class = "form-style-10">
    <h1>Editing Ask Doctor</h1>

<%= render 'form' %>

<%= link_to 'Show', @ask_doctor %> |
<%= link_to 'Back', ask_doctors_path %>
</div>
</div>
</div>
</div>